<h1>Appointment List</h1>
<!--<app-navbar></app-navbar>-->
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Doctor Name </th>
    <th scope="col">Patient Name </th>
    <th scope="col">Date</th>
    <th scope="col">Time</th>
    <th scope="col">Location</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor ="let appointment of appointments; let i = index">
    <td >{{i+1}}</td>
    <td>{{ appointment.doctor.doctor_name}}</td>
    <td>{{ appointment.patient.patient_name}}</td>
    <td> {{ appointment.hospital.h_name}} </td>
    <td>{{appointment.date}}</td>
    <td>{{appointment.time}}</td>
    <!-- apply logic for only admin being able to access below buttons  -->
    <td><button  (click)="updateAppointment(appointment.appointmentId)" class="btn btn-primary">Update</button></td>
    <td><button  (click)="deleteAppointment(appointment.appointmentId)" class="btn btn-primary">Delete</button></td>
  </tr>
  </tbody>
</table>
